
fs-banner {
    margin-bottom: 25px;
}

fs-banner * {
    outline: none;
}

fs-banner > div {
    position: relative;
    min-height: 90px;
    padding-left: 15px;
}

fs-banner .avatar {
    position: relative;
    margin-right: 20px;
}

fs-banner .avatar .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.3);
    border-radius: 50%;
    clip: rect(37px,65px,65px,0);
    font-size: 13px;
    padding-top: 40px;
    text-align: center;
    color: #efefef;
}

fs-banner .avatar.clickable {
    cursor: pointer;
}

fs-banner .avatar .md-button {
    padding: 0;
    margin: 0;
}


fs-banner .avatar .md-button.md-fab {
    line-height: 30px;
    width: 30px;
    height: 30px;
    min-height: 0;
    min-width: 0;
    vertical-align: middle;
    text-align: center;
}

fs-banner .avatar .icon {
    border-width: 1px;
    height: 65px;
    width: 65px;
    background-color: #DDD;
    border-radius: 50%;
    overflow: hidden;
    border: 1 solid  #efefef;
    text-align: center;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

fs-banner .avatar .icon > .material-icons {
    font-size: 55px;
    display: inline-block;
    color: #334;
    line-height: 75px;
    vertical-align: middle;
    width: 75px;
}

fs-banner .avatar .action-icon {

    position: absolute;
    right: 10%;
    top: 10%;
    color: inherit;
    text-decoration: none;
}

fs-banner .avatar .action-icon .material-icons {
    font-size: 18px;
    width: 18px;
    height: 18px;
}

fs-banner .headline {
    color: #111;
    font-size: 23px;
    margin: 0 0 2px 0;
}

fs-banner .superheadline {
    color: #333;
    font-size: 14px;
}

fs-banner .subheadline {
    color: #333;
    margin: 0;
    font-size: 17px;
}

fs-banner .actions {
    position: absolute;
    right: 8px;
    bottom: -28px;
}

fs-banner .actions .action {
    display: inline-flex;
}

fs-banner .actions .material-icons {
    font-size: 28px;
    line-height: 28px;
    width: 28px;
    height: 28px;
}

fs-banner .actions .md-button.md-fab:not(.md-accent) {
  background-color: #727272;
}

fs-banner .actions.fixed {
    position: fixed;
    bottom: 5px;
    z-index: 99999;
}

fs-banner-content {
    padding: 16px;
    display: block;
}