<div layout="row" layout-align="start center" ng-style="options.styles" class="fs-banner fs-theme-primary-background-color">

    <div class="avatar" ng-class="{ clickable: options.avatar.click || options.avatar.action.upload }" ng-click="click(options.avatar.click, $event)" ngf-select="upload($file)" ngf-resize="{ width: 800, height: 800, quality: .8 }" ng-disabled="!options.avatar.action.upload">
        <div class="hover" ng-show="options.avatar.click || options.avatar.action.upload">change</div>
        <div class="icon" ng-if="options.avatar.image" style="background-image: url('{{options.avatar.image}}')"></div>
        <div class="icon ng-hide" ng-show="!options.avatar.image">
            <md-icon>{{options.avatar.icon}}</md-icon>
        </div>
    </div>
    <div flex>
        <div ng-if="options.superheadline.template" fs-banner-bind-compile="options.superheadline.template" fs-banner-bind-compile-scope="options.superheadline.scope" class="superheadline"></div>
        <div class="headline" ng-if="options.headline.template" fs-banner-bind-compile="options.headline.template" fs-banner-bind-compile-scope="options.headline.scope"></div>
        <div class="headline" ng-if="!options.headline.template">{{options.headline}}</div>
        <div ng-if="options.subheadline.template" fs-banner-bind-compile="options.subheadline.template" fs-banner-bind-compile-scope="options.subheadline.scope" class="subheadline"></div>
        <div class="subheadline" ng-if="!options.subheadline.template">{{options.subheadline}}</div>
    </div>
    <div class="actions" layout="row" layout-align="end center">
        <span class="action" ng-repeat="action in options.actions">
            <span ng-if="action.type=='template'" fs-banner-bind-compile="action.options.template" fs-banner-bind-compile-scope="action.options.scope"></span>
            <span ng-if="action.type=='submit' || action.type=='click'">
                <md-button class="md-fab" ng-class="{ 'md-accent': action.primary, 'md-mini': action.options.mini }" aria-label="Save" type="{{actionType(action)}}" ng-click="actionClick(action, $event)">
                    <md-icon md-icon-set="material-icons">{{action.icon}}</md-icon>
                </md-button>
                <md-tooltip md-delay="750" md-direction="{{action.options.tooltipDirection ? action.options.tooltipDirection : 'bottom'}}" ng-if="action.options.tooltip">{{action.options.tooltip}}</md-tooltip>
            </span>
        </span>
    </div>
</div>